
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navbar';

body {
  min-height: 100vh;
  &:not(.dark) {
    background-color: transparent !important;
    .dark-only {
      display: none;
    }
  }
  &.dark {
    background-color: #333 !important;
    nav {
      background: #222 !important;

      & > ul > li > a {
        color: #eee !important;
      }

      .uk-navbar-dropdown {
        background: #222 !important;
        color: #ccc !important;
        .uk-nav-header {
          color: #fff !important;
        }
      }
    }
    #footer {
      background: #222 !important;
    }
    .light-only {
      display: none;
    }
  }
}